/* styles.css */
ul {
  list-style-type: none;
  padding: 0;
}

.nav-item {
  display: inline;
  margin-right: 10px;
}

a {
  text-decoration: none;
}

.active {
  background-color: red; /* Set the background color for the active link */
  color: white; /* Set the text color for the active link */
  padding: 5px 10px; /* Add padding for better visibility */
}
